@font-face {
  font-family: "Golos Text";
  src: url("./assets/fonts/GolosText-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  src: url("./assets/fonts/GolosText-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  src: url("./assets/fonts/GolosText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  src: url("./assets/fonts/GolosText-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("./assets/fonts/Merriweather-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями
  */
img {
  display: block;
  max-width: 100%;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  height: 100%;
}

/**
   Плавный скролл
  */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  min-height: 100%;
  /**
     Унифицированный интерлиньяж
    */
  line-height: 1.5;
}

/**
   Приводим к единому цвету svg-элементы
  */
svg *[fill] {
  fill: currentColor;
}
svg *[stroke] {
  stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --color-base: #313131;
  --color-dark: #1f1f1f;
  --color-light: #ffffff;
  --color-grey: #595653;
  --color-light-grey: #d6d6d6;
  --color-red: #f54932;
  --color-blue: #3057a2;
  --color-light-sand: #e9ded4;
  --color-dark-sand: #424241;
  --color-yellow: #fbce51;

  --border-radius: 66px;
  --border: 2px solid var(--color-dark);

  --font-family-base: "Golos Text", sans-serif;
  --font-family-secondary: "Merriweather", sans-serif;
  --font-family-third: "Montserrat", sans-serif;

  --container-width: 1222px;
  --container-padding-x: 72px;

  --transition-duration: 0.2s;
}

body {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-base);
  background-color: var(--color-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  text-transform: uppercase;
}
a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}
a {
  color: var(--color-base);
  text-decoration: none;
}
a:hover {
  color: var(--color-light);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container-wide {
  max-width: 1920px;
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.link {
  display: inline-flex;
  align-items: center;
  height: 72px;
  padding-inline: 20px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 1.2px;
  background-color: var(--color-dark);
  color: var(--color-light);
  border: none;
  border-radius: var(--border-radius);
}

.link:hover {
  background-color: var(--color-yellow);
  color: var(--color-dark);
}

.header {
  display: flex;
  align-items: center;
  padding: 26px 350px;
}
.header-logo {
  display: flex;
  width: 100%;
  column-gap: 6.4px;
}
.header-logo__image-container {
  display: flex;
  align-items: center;
  background-image: url("./assets/images/svg/logo-icon.svg");
  background-repeat: round;
  column-gap: 1.8px;
  width: 92px;
}
.header-logo__title {
  font-weight: 700;
  line-height: 17.98px;
  font-size: 16.65px;
  text-transform: uppercase;
  color: var(--color-grey);
}

@media (max-width: 1440px) {
  .header {
    padding-inline: var(--container-padding-x);
  }
}
@media (max-width: 767px) {
  :root {
    --container-padding-x: 20px;
  }
  .header {
    padding-top: 18px;
  }
  .header-logo {
    column-gap: 5.5px;
  }
  .header-logo__image-container {
    width: 80px;
    column-gap: 1.5px;
  }
  .header-logo__title {
    font-weight: 700;
    line-height: 15.57px;
    font-size: 14.42px;
  }
}
